<div class="widget effect1">
    <p class="widget-title text-center">Complete your profile</p>
    <div class="row">
        <div class="col-lg-4">
            <angucomplete-alt id="ex1" placeholder="University" pause="100" selected-object="selectedUniversity" local-data="universities" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" />
        </div>
        <div class="col-lg-4">
            <angucomplete-alt id="auto-colleges" placeholder="College" pause="100" selected-object="selectedCollege" local-data="userDetails.selectedUniv.colleges" search-fields="name" title-field="name" minlength="1" ng-show="userDetails.selectedUniv" class="animate-show" input-class="form-control form-control-small" />
        </div>
        <div class="col-lg-4">
            <angucomplete-alt id="auto-spec" placeholder="Specialization" pause="100" selected-object="selectedSpecialization" local-data="userDetails.selectedColl.specializations" search-fields="name" title-field="name" minlength="1" ng-show="userDetails.selectedColl" class="animate-show" input-class="form-control form-control-small" />
        </div>
    </div>
    <a ui-sref="profile" ng-show="userDetails.selectedSpec" ng-click="saveUniversity()" class="btn btn-primary">Save</a>
</div>
