@(hash: String)(message: Option[String])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Reset password</title>
        <link rel="stylesheet" href="@routes.Assets.at("vendor/bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/clientStyle.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")" />
        <script type="text/javascript" src="@routes.Assets.at("vendor/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("vendor/bootstrap/js/bootstrap.min.js")"></script>
    </head>

    <body>

        <div class="head">
            <img src="@routes.Assets.at("images/logo.png")"/>
        </div>

        <div class="main">
            <div class="full">
                <div class="container main-container full-width-container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-md-push-3 col-lg-push-4">

                            <div class="panel panel-default panel-featured m-top-40">
                                <div class="panel-body">

                                    <form action="/account/password/change" method="POST" enctype="utf8" class="form-horizontal col-sm-10 col-sm-push-3 m-b-25">
                                        <h1>Reset password?</h1>
                                        <fieldset>
                                            <div class="control-group">
                                                <div class="controls input-group-lg">
                                                    <input type="password" id="password" name="password" class="form-control m-b-15" placeholder="Password" />
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="controls input-group-lg">
                                                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control m-b-15" placeholder="Confirm Password" />
                                                </div>
                                            </div>

                                            <input type="hidden" name="hash" name="hash" value=@hash />

                                            @if(message.isDefined) {
                                                <div class="alert alert-danger alert-dismissible m-top-20" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    @message.get
                                                </div>
                                            }
                                        </fieldset>
                                        <div class="form-actions">
                                            <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit" />
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
